@font-face{
	font-family: 'kh';
	src: url('../fonts/KhmerOSsiemreap.ttf');
}
body {
	font-family: kh;
	font-size: 14px;
}
.logo{
    margin-top: -47px;
}
.mx-left{
    margin-left: 18px!important;
}

.sidebar-nav > li.active a{
	background: #343a40 !important;
}

.search_input {
	
	padding: 1px;
	font-size: 14px;
}

/* invoice */
.invoice-title h2, .invoice-title h3 {
    display: inline-block;
	font-size: 20px;
	font-weight: bold;
}

.table > tbody > tr > .no-line {
    border-top: none;
}
.table > thead > tr > .no-line {
    border-bottom: none;
}
.table > tbody > tr > .thick-line {
    border-top: 2px solid;
}
/* .../ invoice */
/* modal */
.center {
    margin-top:50px;   
}
.modal-header {
	padding-bottom: 5px;
}
.modal-footer {
    	padding: 0;
	}
    
.modal-footer .btn-group button {
	height:40px;
	border-top-left-radius : 0;
	border-top-right-radius : 0;
	border: none;
	border-right: 1px solid #ddd;
}
	
.modal-footer .btn-group:last-child > button {
	border-right: 0;
}

@media (min-width: 576px) {
.form-inline label {
	justify-content: left;
}
}
/* .../ modal */

.td-gray-bg {
	background: #f8f9fa;
}
.img-list{
	list-style: none;
}
.img-list li{
	display: inline-block;
	border: 1px solid #ccc;
}
.btn-add{
	border-bottom: 1px solid #ddd;
	margin-bottom: 9px;
}
.text-small{
	font-size: 12px;
}
.mytbl td, .mytbl th{
	font-size: 12px;
}
.text-sm{
	font-size: 12px;
}
.pleft-0{
	padding-left: 0!important;
}
.pright-0{
	padding-right: 0!important;
}
.btn-plus{
	margin-left: 2px;
    padding: 7px 8px;
    margin-top: 1px;
    border-radius: 3px;
}
.card.card-gray > .card-header {
	background-color: #fafafa;
}

#my_camera{
	width: 270px;
	height: 200px;
	border: 1px solid #000;
}
.hide{
	display: none;
}
.app .content {
    padding: 46px 40px 85px 40px;
}
.sidebar .sidebar-menu > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
}
.search{
	font-size: 13px;
}
.header{
	height: 45px;
}
.name{
	font-size: 13px;
}
.toolbox{
	padding-top: 2px;
	background: #f0f3f6;

}
.btn.btn-oval
{
	border-radius: 5px;
}
.btn-sm, .btn-group-sm > .btn {
    padding: 5px 8px;
    font-size: 12px;
}